---
---

@import "{{ site.theme }}";

body {
 font-size: 20px;
 line-height: 1.5;
 font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif
}

section {
 width: 600px;
}

.wrapper {
 width: 920px;
}

.site-title::before {
content: url("https://ikmlab.csie.ncku.edu.tw/media/Reinald-Adrian-Pugoy.png");
display: inline-block;
position: relative;
width: 32px;
top: 32px;
}

strong {
 color: #494949;
}

.avatar{
  border-radius: 25px;
  border: 2px solid #393939;
}
